<div class="col-md-2">

</div>
<div class="col-md-4" id="noteaten-holder">
    {{#each burgers}}
        {{#unless eaten}}
            <div class="line float-right">
                <p style="width: 100%" class="burger float-right">{{burger_name}} <button class="btn btn-success eat" data-id={{id}}>Eat!</button> </p>
            </div>
        {{/unless}}
    {{/each}}
</div>

<div class="col-md-4" id="eaten-holder">
    {{#each burgers}}
        {{#if eaten}}
            <p class="eatenburger">{{burger_name}} <button class="btn btn-danger delete" data-id={{id}}>Remove!</button> </p>
        {{/if}}
    {{/each}}
</div>

<div class="col-md-2">

</div>
