<div class="col-md-2">

</div>
<div class="col-md-4" id="noteaten-holder">
    {{#each burgers}}
        {{#if eaten}}
            <li class="burger">{{burger_name}} <button class="btn btn-success eat" data-id={{id}}>Eat!</button> </li>
        {{/if}}
    {{/each}}
</div>

<div class="col-md-4" id="eaten-holder">
    {{#each burgers}}
        {{#unless eaten}}
            <li class="eatenburger">{{burger_name}} <button class="btn btn-danger delete" data-id={{id}}>Remove!</button> </li>
        {{/unless}}
    {{/each}}
</div>

<div class="col-md-2">

</div>
